.about-me-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 3.5rem;
    text-decoration: underline;
    letter-spacing: 2px;
    text-align: center;
}
.why-text-sub {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    opacity: 0.8;
    text-transform: capitalize;
    text-align: center;
}

.aboutme-inside {
    width: 70%;
    margin-inline: auto;
}

.some-text-about-me {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
    opacity: 0.8;
    text-align: justify;
}

.few-highlights {
    font-family: Arial, Helvetica, sans-serif;
    padding-block: 12px;
}

.few-text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    /* opacity: 0.8; */
    /* margin-top: 40px; */
    /* text-align: justify; */
}
.few-list {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}
.about-me-animation {
    height: 300px;
    width: 300px;
}

/* mobile view */

@media all and (max-width: 786px) {
    .about-me-text {
        font-size: 2.5rem;
    }
    .why-text-sub {
        font-size: 1rem;
    }
}
