.resume-options-items {
    width: 1%;
    transition: all 0.3s ease-in-out;
    padding-block: 24px;
    padding-inline: 24px;
    color: #000;
    cursor: pointer;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.resume-options-items:hover {
    width: 100%;
    background: linear-gradient(
        -90deg,
        var(--primary-app-color),
        var(--secondary-app-color)
    );
    color: #fff;
}

.icons-span {
    margin-block: 24px;
    margin-inline: 24px;
}

.selected {
    background: linear-gradient(
        -45deg,
        var(--primary-app-color),
        var(--secondary-app-color)
    );
    width: 100%;
    color: #fff;
}

.bg-new {
    background: linear-gradient(
        -45deg,
        var(--primary-app-color),
        var(--secondary-app-color)
    );
}

.resume-outer-section {
    padding-top: 100px;
    padding-bottom: 100px;
    background: var(--primary-app-color);
    color: #fff;
    clip-path: polygon(0 11%, 100% 0, 100% 100%, 0 100%);
}

.resume-new-section {
    margin-top: 42px;
    background: #fff;
    box-shadow: 10px 10px 21px 2px #1c1c1c;
}

@media all and (max-width: 786px) {
    .resume-new-section{
        width: 100%!important;
    }
}